::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {opacity: 1;color: #000;}
::-moz-placeholder {opacity: 1;color: #000;}
:-ms-input-placeholder {color: #000;}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder {opacity: 0;}
input:focus:-moz-placeholder {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}

body {
  font-family: '', sans-serif;
  font-weight: 400px;
}
#wrapper {
  min-width: 1220px;
}
.main {
  max-width: 1200px;
  margin: auto;
}

input[type=text],
textarea {
  font-family: '';
  font-size: 19px;
  display: inline-block;
  width: 77%;
  height: 52px;
  margin-bottom: 10px;
  padding: 0 3%;
  color: #000;
  border: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn {
  font-size: 27px;
  line-height: 49px;
  display: inline-block;
  width: 274px;
  height: 49px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  outline-style: none;
}
.btn:hover {
  color: #000;
  background: #ffe400;
}
.btn:active {
  color: #000;
  background: #ffee5b;
}

/*:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4000px;
  height: 100%;
  content: '';
  background: url(../img/.jpg) no-repeat;
}*/


/* ---MainStyles--- */
#header-wr {
  position: fixed;
}








/* ---PopupStyles--- */
#popup {
  position: relative;
  width: auto;
  max-width: 482px;
  margin: 20px auto;
  padding: 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
}
.popup-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 43px;
  padding-top: 7px;
  text-align: center;
}
#popup form {
  margin-top: 41px;
  padding-bottom: 33px;
}
#popup form input[type=text] {
  width: 80%;
  height: 48px;
  border: 2px solid #000;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: rgba(255,255,255,.6);
}
#popup form .btn {
  width: 86.74%;
  margin-top: 15px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}


#thk {
  position: relative;
  width: auto;
  max-width: 482px;
  margin: 20px auto;
  padding: 20px 0 35px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #ffe400;
}
.thk-title .fz39 {
  padding-top: 9px;
}
.thk-title .fz45 {
  font-size: 45px;
  display: inline-block;
  padding-bottom: 11px;
}
.thk-title .fz22 {
  line-height: 25px;
  padding-top: 33px;
}
